/**
 * Advance Pricing Table by WPBean
 */


.wpb-pricing-table{
	text-align: center;
	position: relative;
	margin-bottom: 30px;
}
.wpb-pricing-table .table-header h3,
.wpb-pricing-table h3.wpb-price{
	margin: 0;
}
.wpb-btn-common{
	color: #ffffff;
	border: 0;
}
.wpb-btn{
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px 30px;
	border-radius: 3px;
	font-weight: 300;
	color: #ffffff;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}


.wpb-btn-common:hover,
.wpb-btn-common:focus,
.wpb-btn-common:active,
.entry-content a.wpb-btn-common:visited,
.comment-content a.wpb-btn-common:visited{
  background: rgba(231, 76, 60, 0.7);
  color: #fff;
  border-color: transparent;
  text-decoration: none;
}
.wpb-btn-border,
.entry-content a.wpb-btn-border:visited,
.comment-content a.wpb-btn-border:visited {
  background: rgba(255, 255, 255, 0.18);
  border: 2px solid #fff;
  color: #fff;
}
.wpb-btn-border:hover {
  background: rgba(255, 255, 255, 0.3);
  border: 2px solid #ffffff;
  color: #fff;
  text-decoration: none;
}
.pricing-table-1 {
	background: #fff;
}
.pricing-table-1 .table-header {
	padding: 30px 0;
	color: #fff;
}
.pricing-table-1 .table-header h3 {
	font-size: 30px;
	color: #ffffff;
}
.pricing-table-1 .plan {
	padding: 15px;
	border-left: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
}
.pricing-table-1 .plan .wpb-price {
	font-size: 60px;
	line-height: 1.846153846;
	color: #666;
}
.pricing-table-x {
	background: #fff;
}
.pricing-table-x .table-header {
	color: #fff;
	position: absolute;
	width: 100%;
}
.pricing-table-x .table-header .table-header-inner{
	padding: 10px 0;
	background: rgba(230, 230, 230, 0.23);
	border-bottom: 1px solid rgba(230, 230, 230, 0.3);
}
.pricing-table-x.wpb-highlighted-plan .table-header{
	top: -10px;
}
.pricing-table-x.wpb-highlighted-plan .table-header .table-header-inner{
	padding: 15px 0;
}
.pricing-table-x .table-header h3 {
  font-size: 15px;
  font-weight: inherit;
  color: #fff;
}
.pricing-table-x .plan {
	padding: 15px;
	color: #fff;
	padding-top: 48px;
}
.pricing-table-x .plan .wpb-price {
	font-size: 60px;
	line-height: 60px;
	padding: 20px 0 0;
	font-weight: bold;
}
.pricing-table-x .plan .wpb-price .currency-symbol{
	font-size: 30px;
	font-weight: normal;
	letter-spacing: 1px;
	opacity: 0.4;
	color: #000;
	filter: alpha(opacity=40);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
	text-transform: capitalize;
	position: relative;
	top: -20px;
}
.pricing-table-x .plan .period,
.pricing-table-1 .plan .period{
	display: block;
	font-size: 16px;
	font-style: italic;
	line-height: 1.4em;
	font-weight: normal;
	letter-spacing: 1px;
	opacity: 0.4;
	color: #000;
	filter: alpha(opacity=40);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
	text-transform: capitalize;
	margin-bottom: 10px;
}
.pricing-table-x .plan-info,
.pricing-table-1 .plan-info {
	border: 1px solid #e1e1e1;
}
.pricing-table-x .plan-info p,
.pricing-table-1 .plan-info p{
	font-size: 14px;
	line-height: 30px;
	margin: 0;
	padding: 5px 0;
}
.pricing-table-x .plan-info p:not(:last-child),
.pricing-table-1 .plan-info p:not(:last-child){
	border-bottom: 1px solid #e1e1e1;
}
.pricing-table-x .plan-info p:nth-child(odd),
.pricing-table-1 .plan-info p:nth-child(odd){
	background-color: #fcfcfc;
	color: #666666;
}
.pricing-table-x .plan-info p:nth-child(even),
.pricing-table-1 .plan-info p:nth-child(even){
	background-color: #ffffff;
	color: #919191;
}
.pricing-table-x .plan-info p.button-area,
.pricing-table-1 .plan-info p.button-area {
 	padding: 25px 0;
}

.pricing-table-2 {
	background: rgba(255, 255, 255, 0.11);
	padding: 30px 0;
	text-transform: uppercase;
}
.pricing-table-2 .period {
	position: relative;
	letter-spacing: 5px;
}
.pricing-table-2 .period:before {
	position: absolute;
	content: " ";
	width: 30px;
	bottom: -5px;
	margin-left: 0;
	margin-right: 0;
	border-bottom: 2px solid #fff;
}
.pricing-table-2 .wpb-price {
	font-size: 90px;
	line-height: inherit;
	line-height: 1.846153846;
}
.pricing-table-2 .wpb-price span {
	position: absolute;
	font-size: 24px;
	margin-left: -30px;
}
.pricing-table-2 p {
	padding-bottom: 15px;
	margin-bottom: 10px!important;
}
.wpb-row-inner{
	margin-left: 15px;
	margin-right: 15px;
	display: block;
	overflow: hidden;
	padding-top: 30px;
}
.pricing-table-2 .button-area{
	margin-top: 40px;
}
